body{
    background-image: linear-gradient(to bottom right, rgb(137, 179, 179), rgb(3, 75, 104));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    margin-top: 0px;
}

.infoContainer {
    min-height: 50px;
}

.panel section{
    min-height: 300px;

}