<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/bootstrap.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <header class="container" id="app">
        <h1 class="text-center bg-dark text-light p-4">CMD INVENTORY</h1>
        <div class="bg-dark text-light p-2">
            <form class="form-inline " v-on:submit.prevent v-show="user =='guest'">
                <label for="email" class="mr-sm-2">Email:</label>
                <input type="email" class="form-control mr-sm-2 mb-1" id="email" placeholder="Enter email" name="email"
                    required>
                <label for="pwd" class="mr-sm-2">Password:</label>
                <input type="password" class="form-control mr-sm-2 mb-1" id="pwd" placeholder="Enter password"
                    name="pswd" required>
                <button type="submit" class="btn btn-primary mr-2 mb-1" v-on:click="login">Login</button>
                <button type="submit" class="btn btn-primary mr-2 mb-1" v-on:click="register">New Acount</button>
            </form>
            <div class="d-flex" v-show="user != 'guest'">
                <div class="mr-auto">
                    <span class="align-middle">Welcome {{user.email}} <button type="button"
                            class="btn btn-primary mr-sm-2" @click="logout">Logout</button>
                    </span>
                </div>
                <div class="">
                    <button class="btn btn-primary">Config</button>
                </div>
            </div>
        </div>
        <div class="infoContainer text-center">
            <h3 id="loginInfo" class="text-center collapse p-2" :class="loginBg">{{loginMsj}}</h3>
        </div>
    </header>

    <nav class="container">
        <ul class="nav nav-tabs nav-justified bg-dark">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin.html">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="user.html">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
    <div class="container panel">
        <section class="bg-light">

        </section>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="./scripts/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./scripts/main.js"></script>
</body>

</html>